In [2]:
import pandas as pd

data = pd.read_csv('airline_delay.csv')
data.head(10)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2003,6,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",307.0,56.0,14.68,10.79,...,1.48,9.96,1.0,1.0,2530.0,510.0,621.0,676.0,25.0,698.0
1,2003,6,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",90.0,27.0,7.09,2.00,...,0.00,7.16,0.0,0.0,1390.0,271.0,83.0,581.0,0.0,455.0
2,2003,6,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",752.0,186.0,33.99,27.82,...,1.90,17.53,5.0,0.0,8314.0,1367.0,1722.0,3817.0,139.0,1269.0
3,2003,6,AA,American Airlines Inc.,AUS,"Austin, TX: Austin - Bergstrom International",842.0,174.0,60.24,20.54,...,4.69,40.75,9.0,1.0,8344.0,3040.0,1032.0,1835.0,115.0,2322.0
4,2003,6,AA,American Airlines Inc.,BDL,"Hartford, CT: Bradley International",383.0,55.0,14.90,8.91,...,0.00,16.61,0.0,0.0,3137.0,815.0,574.0,555.0,0.0,1193.0
5,2003,6,AA,American Airlines Inc.,BHM,"Birmingham, AL: Birmingham-Shuttlesworth Inter...",89.0,12.0,2.79,2.19,...,1.00,3.82,0.0,0.0,673.0,94.0,90.0,50.0,35.0,404.0
6,2003,6,AA,American Airlines Inc.,BNA,"Nashville, TN: Nashville International",445.0,82.0,25.44,11.98,...,0.03,26.65,2.0,0.0,4663.0,1217.0,913.0,800.0,1.0,1732.0
7,2003,6,AA,American Airlines Inc.,BOS,"Boston, MA: Logan International",1266.0,225.0,69.43,23.66,...,2.25,45.73,7.0,0.0,12139.0,4201.0,1783.0,3067.0,45.0,3043.0
8,2003,6,AA,American Airlines Inc.,BUR,"Burbank, CA: Bob Hope",119.0,27.0,7.49,4.65,...,0.00,7.04,1.0,0.0,1187.0,326.0,191.0,285.0,0.0,385.0
9,2003,6,AA,American Airlines Inc.,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",593.0,101.0,17.56,20.49,...,0.00,24.69,1.0,1.0,5698.0,1058.0,1332.0,1708.0,0.0,1600.0